<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
  <div class="container">
    <button class="navbar-toggler" type="button"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"
            (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapsible part of of navbar -->
    <div class="collapse navbar-collapse" [attr.aria-expanded]="!isCollapsed" [ngClass]="{collapse: isCollapsed}">
      <!-- Items pushed to the left -->
      <ul class="navbar-nav mr-auto">
        <!-- Home -->
        <li class="nav-item" routerLinkActive="active">
          <a *ngIf="!isLoggedIn()" routerLink="/home" class="nav-link" (click)="isCollapsed = true"><fa-icon icon="home"></fa-icon> Home</a>
          <a *ngIf="isLoggedIn() && hasRole('member')" routerLink="/member/dashboard" class="nav-link" (click)="isCollapsed = true"><fa-icon icon="home"></fa-icon> Home</a>
        </li>
        <!-- Public context -->
        <ng-container *ngIf="!isLoggedIn()">
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="/news" class="nav-link" (click)="isCollapsed = true"><fa-icon icon="newspaper"></fa-icon> News</a>
          </li>
        </ng-container>
        <!-- Member context -->
        <ng-container *ngIf="isLoggedIn() && hasRole('member')">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/member/locations" (click)="isCollapsed = true"><fa-icon icon="globe"></fa-icon> Locations</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/member/spp" (click)="isCollapsed = true"><fa-icon icon="book"></fa-icon> Species</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/member/animals" (click)="isCollapsed = true"><fa-icon icon="frog"></fa-icon> Animals</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/member/images" (click)="isCollapsed = true"><fa-icon icon="image"></fa-icon> Images</a>
          </li>
          <li routerLinkActive="active" class="nav-item dropdown" ngbDropdown>
            <a href class="nav-link dropdown-toggle" (click)="dropdownClick($event)" id="memberMaintenanceMenu" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
              <fa-icon icon="tools"></fa-icon> Maintenance
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="maintenanceMenu" ngbDropdownMenu>
              <a routerLinkActive="active" routerLink="/member/feed" id="memberFeedMenu" class="dropdown-item" (click)="isCollapsed = true"><fa-icon icon="utensils"></fa-icon> Feed Animals</a>
            </div>
          </li>
        </ng-container>
      </ul>
      <!-- Items pushed to the right -->
      <ul class="navbar-nav ml-auto">
        <li routerLinkActive="active" class="nav-item dropdown" ngbDropdown>
          <a href class="nav-link dropdown-toggle" (click)="dropdownClick($event)" id="accountMenu" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
            <fa-icon icon="user"></fa-icon> My Account
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountMenu" ngbDropdownMenu>
            <a *ngIf="!isLoggedIn()" routerLink="/login" routerLinkActive="active" id="loginMenu" class="dropdown-item" (click)="isCollapsed = true"><fa-icon icon="sign-in-alt"></fa-icon> Login</a>
            <a *ngIf="!isLoggedIn()" routerLink="/register" routerLinkActive="active" id="loginMenu" class="dropdown-item" (click)="isCollapsed = true"><fa-icon icon="user-plus"></fa-icon> Register</a>
            <a *ngIf="isLoggedIn()" href="#" id="logoutMenu" class="dropdown-item" (click)="logout($event)"><fa-icon icon="sign-out-alt"></fa-icon> Logout</a>
            <a *ngIf="isLoggedIn() && hasRole('member')" routerLink="/member/settings" routerLinkActive="active" id="memberSettingsMenu" class="dropdown-item" (click)="isCollapsed = true">
              <fa-icon icon="cogs"></fa-icon> Settings
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
